---
import { Separator } from "~/components/ui/separator"
import FooterSocial from "./partials/social"

const currentYear = new Date().getFullYear()

const communityLinks = [
  { href: "/", label: "About" },
  { href: "/", label: "Contact" },
  { href: "/", label: "Blog" },
  { href: "/", label: "Event" },
]

const legalLinks = [
  { href: "/", label: "Privacy Policy" },
  { href: "/", label: "Terms of Service" },
]
---

<footer class="bg-gray-900 border-t border-gray-700">
  <div class="mx-auto max-w-7xl py-10 px-4 md:px-6">
    <div class="grid grid-cols-2 gap-6 md:gap-10">
      <div class="col-span-full md:col-span-1">
        <h2 class="mb-2 font-bold text-base md:text-xl">
          <a href="/" class="text-white hover:text-red-500 transition-colors duration-300">
            Minang IT Camp
          </a>
        </h2>
        <p class="text-gray-400 text-sm md:text-base lg:w-2/3">
          Memberdayakan Pemuda-Pemudi Minang untuk memajukan Nagari. Kembangkan Skillmu di dunia IT
          dan raih kesempatan kerja di Perusahaan yang kamu impikan.
        </p>
      </div>

      <div class="col-span-full md:col-span-1">
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-6 md:gap-4">
          <div class="col-span-1">
            <h2 class="text-white mb-2 text-base md:text-xl">Community</h2>
            <ul class="text-sm md:text-base space-y-2">
              {
                communityLinks.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="hover:text-red-500 text-gray-400 transition-colors duration-300"
                    >
                      {link.label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>

          <div class="col-span-full md:col-span-1">
            <h2 class="text-white mb-2 text-base md:text-xl">Legal</h2>
            <ul class="text-gray-400 text-sm md:text-base space-y-2">
              {
                legalLinks.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="hover:text-red-500 text-gray-400 transition-colors duration-300"
                    >
                      {link.label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>

          <div class="col-span-full md:col-span-1">
            <h2 class="text-white mb-2 text-base md:text-xl">Social Media</h2>
            <FooterSocial />
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator className="bg-gray-800" />

  <div class="mx-auto max-w-7xl py-4">
    <div class="flex items-center justify-center">
      <p class="text-gray-400 text-sm md:text-base">
        © 2017 - {currentYear} Minang IT Camp. All rights reserved.
      </p>
    </div>
  </div>
</footer>
